.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-content-wrapper {
  margin-left: 280px;
  width: calc(100% - 280px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 32px;
}